.style-card{
    border: none;
    box-shadow: 5px 5px 10px grey;
}
.btn-style{
    background-color: #ffce3e;
    padding: 5px 10px;
}
.price-style{
    background-color: #ffce3e;
    padding: 0px 10px;
    border-radius: 2px;
}